[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
torch = "*"
notebook = "*"

[dev-packages]
flake8 = "*"
flake8-nb = "*"
black = "*"
autohooks = "*"

[requires]
python_version = "3.9"
