[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
torch = "*"
notebook = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.9"
